{% extends 'ACCAdminBundle::layout.html.twig' %}
{% block title %}Admin action{% endblock %}


{% block right %}

<div class="section">
	<div class="box">
		<div class="title">
			
			<span class="hide"></span>
		</div>
		<div class="content">
		 	<b>Будівельна організація</b> – це відособлена виробничо-господарська одиниця, основою якої є професійно організований трудовий колектив, 
		 	здатний за допомогою наявних у його розпорядженні зісобів виробництва виготовляти будівельну продукцію у вигляді: будівельних споруд, 
		 	будівельних робіт і послуг відповідного призначення, профілю та типу.
		</div>
	</div>
</div>

{% endblock %}