{% block field_row %}
    <div class="row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        <div class="right">
        	{{ form_widget(form) }}
        </div>
    </div>
{% endblock field_row %}